<% title('Nutshell - About Nutshell') %>

<h3>About Nutshell</h3>
<hr class="dotted">

Coming soon.
<!--

<p>When you want something explained quickly and using concise language, Nutshell is what you need.</p> 
 
<p>Think of it as: “Wikipedia entries written for a five year old”.</p>
 
<p>All of our entries are crowd-sourced and competing to be the best and most succinct definition, explanation or summary.</p>

<h6>Press inquiries:</h6>
<%= mail_to "press@tldrer.com" %>

<h6>Anything else:</h6>
<%= mail_to "hey@tldrer.com" %>

<h6>We're on Twitter</h6>
@tldrer

-->