<h3><%= category.title %> -
  <small><%= link_to 'See all', posts_path(category_id: category.id) %></small>
  <span class="pull-right"><small><%= link_to 'Add a new entry', new_post_path(category_id: category.id) %></small></span>
</h3>

<hr class="dotted">

<table class="table table-striped">
  <%= render category.posts.limit(5) %>
</table>
<br/>
