<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <span><%= link_to "About", about_path %>
        <br/>
        <p><small>&copy; 2014</small></p>
      </div>

    </div>

  </div>
</div>
